.logout-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover {
      background: #FF7D01;
    }
  
    .logout-icon {
      font-size: 1.2rem;
    }
  }
  